{% extends 'layout.html' %}
{%- block stylesheet %}
<link rel="stylesheet" href="{{url_for('static',filename='css/resetPassword.css')}}">
{% endblock -%}
{%- block body %}
<main class="main--container">

    <form method="post" autocomplete="off" class="form">
        {{form.hidden_tag()}}

        <legend>Reset Password Form</legend>

        <div class="form__group">
            {{form.password.label}}
            {%- if form.password.errors %}
            {{form.password(class='field__error')}}
            {%- for error in form.password.errors %}
            <span class='error__msg'>{{error}}</span>
            {% endfor -%}
            {% else %}
            {{form.password(placeholder='enter password')}}
            {% endif -%}
        </div>

        <div class="form__group">
            {{form.confirm_password.label}}
            {%- if form.confirm_password.errors %}
            {{form.confirm_password(class='field__error')}}
            {%- for error in form.confirm_password.errors %}
            <span class='error__msg'>{{error}}</span>
            {% endfor -%}
            {% else %}
            {{form.confirm_password(placeholder='reenter password')}}
            {% endif -%}
        </div>

        <div class="form__submit">
            {{form.submit}}
        </div>

    </form>

</main>
{% endblock -%}